h1 {
  color: #bbb556;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  font-weight: bold;
  color: #bbb596;
}
a {font-size: 25px;
}

p {
  font-family: Times;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

ol {
  font-family: Comic;
  font-size: 25px;
}

body {
  font-family: Arial;
  text-align: center;
}

h4{
  font-style: oblique;
  font-size: 19px;
  color: green;
}
